/* .featured {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(223, 18, 18, 0.7596288515406162) 80%,
    rgba(252, 176, 69, 1) 100%
  );
} */
.featured {
  background: #414141;
}
.trend_card {
  padding: 5rem;
}
.carousel * {
  box-sizing: content-box;
}
h2 {
  margin: 5vw;
}

.control-arrow {
  background-color: red;
}

@media (max-width: 960px) {
  .trend_card {
    padding: 0rem;
  }
}
